<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Movie API</title>
    <style type="text/css">
        .error {
        border: 1px solid red
        }
        .errorMessage {
        color: red;
        }

    </style>
</head>
<body>

<form method="post" action="/add" th:object="${movie}">
    <input th:field="*{title}" placeholder="title" th:errorClass="error"/>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="errorMessage"></span>
    <input th:field="*{year}" placeholder="year" th:errorClass="error"/>
    <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="errorMessage"></span>
    <input th:field="*{director}" placeholder="director" th:errorClass="error"/>
    <span th:if="${#fields.hasErrors('director')}" th:errors="*{director}" class="errorMessage"></span>
    <input th:field="*{producer}" placeholder="producer" th:errorClass="error"/>
    <span th:if="${#fields.hasErrors('producer')}" th:errors="*{producer}" class="errorMessage"></span>
    <input th:field="*{tomatoRating}" placeholder="tomatoRating" th:errorClass="error"/>
    <span th:if="${#fields.hasErrors('tomatoRating')}" th:errors="*{tomatoRating}" class="errorMessage"></span>
    <input type="submit" value="Add Movie">
</form>
</body>
</html>